# Note: The data in this example .env file is mock data

# --------------- Twitch Variables ---------------

# Twitch Bot Command Prefix
TWITCH_COMMAND_PREFIX=!

# Twitch Channel where the bot will log
TWITCH_CHANNEL=mockstreamer

# Twitch Channel case sensitive name
TWITCH_CHANNEL_CASE_SENSITIVE=MockStreamer

# Twitch Channel User ID
TWITCH_CHANNEL_USERID=91234567

# Twitch Bot Username
TWITCH_BOT_USERNAME=mockbotaccount

# Twitch Bot User ID
TWITCH_BOT_USERID=845672391

# Twitch Bot Account OAuth
TWITCH_BOT_OAUTH=oauth:9x4k2lmno8pqrs7tuvwx1yzab2cdef

# Twitch Bot User Authorization Link for oAuth token renew
TWITCH_BOT_AUTHORIZATION_LINK=https://id.twitch.tv/oauth2/authorize?response_type=code&client_id=abcdefghijklmnopqrstuvwxyz123456&redirect_uri=http://localhost:3000&scope=channel:read:redemptions%20moderation:read%20channel:moderate%20user:write:chat%20moderator:manage:banned_users

# Twitch Bot API Client ID
TWITCH_BOT_API_CLIENTID=abcdefghijklmnopqrstuvwxyz123456

# Twitch Bot API Client Secret
TWITCH_BOT_API_CLIENT_SECRET=abcdefghijklmnopqrstuvwxyz123456

# Twitch API Endpoint
TWITCH_API_ENDPOINT=https://api.twitch.tv/helix

# Twitch User Token Endpoint
TWITCH_USER_TOKEN_ENDPOINT=https://id.twitch.tv/oauth2/token

# --------------- Twitch Channel Point Rewards ---------------

# Song request ID
TWITCH_CHANNEL_POINTS_REWARD_SONG_REQUEST=11111111-2222-3333-4444-555555555555

# Timeout ID
TWITCH_CHANNEL_POINTS_REWARD_TIMEOUT=66666666-7777-8888-9999-000000000000

# Wide Cam ID
TWITCH_CHANNEL_POINTS_REWARD_WIDE_CAM=aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee

# Mute 5min ID
TWITCH_CHANNEL_POINTS_REWARD_MUTE_5MIN=12345678-90ab-cdef-1234-567890abcdef

# Mute 10min ID
TWITCH_CHANNEL_POINTS_REWARD_MUTE_10MIN=fedcba98-7654-3210-fedc-ba9876543210

# --------------- Discord Variables ---------------

# Discord Bot Token
DISCORD_BOT_TOKEN=QWERTYUIOPASDFGHJKLZXCVBNM.abCdEf.1234567890abcdefghijklmnopqrstuvwxyz

# Discord Bot ID
DISCORD_BOT_ID=123456789012345678

# Discord Server ID
DISCORD_SERVER_ID=234567890123456789

# Discord Channel ID for Discord -> Twitch Communication
DISCORD_TWITCH_CHANNEL_COMMUNICATION_ID=345678901234567890

# --------------- OBS Variables ---------------

# OBS Websocket Endpoint
OBS_WS_URL=ws://127.0.0.1:4455

# OBS Websocket Password
OBS_WS_PASSWORD=MockPassword1234AbCd

# OBS Auto-Reconnect time (miliseconds)
OBS_AUTO_RECONNECT_TIME=300000

# OBS Wide Cam Twitch Channel Point Reward Revert Delay (miliseconds)
OBS_REVERT_DELAY_MS=600000

# --------------- Server ---------------
SERVER_PORT=3000